.header{
    background-color: #13151d;
    padding: 20px 100px;
    position: sticky;
    top: -1px;
    align-items: center;
    text-align: center;
    z-index: 2;
    


    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__image{
            max-height: 150px; /* Ou o valor que achar ideal */
            height: auto;

            @media (max-width:768px){
                max-height: 100px; /* Ou o valor que achar ideal */
                height: auto;
                margin-left: -80px;
                
                
            }
        }

        &__list{
            display: flex;
            flex-direction: column;
            gap: 10px;

        &__chamada_1{
            font-size: 30px;
            font-weight: bold;
            color: #fff;

            @media (max-width:768px){
                font-size: 11px;
            }
        }
        
        &__chamada_2{
            font-size: 20px;
            font-weight: bold;
            color: #fff;

            @media (max-width:768px){
                font-size: 8px;
            }
        }

        .button-whatsapp {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #25D366; /* Cor de fundo do WhatsApp */
            color: #ffffff; /* Cor do texto */
            padding: 15px 23px; /* Espaçamento interno */
            border-radius: 8px; /* Bordas arredondadas */
            font-weight: bold; /* Texto em negrito */
            font-size: 2rem; /* Tamanho da fonte */
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s; /* Transições suaves para hover */
            border: none; /* Remover bordas */

            @media (max-width:768px){
                font-size: 10px;
            }
            
            /* Ícone do WhatsApp à esquerda do texto */
            .icon {
              margin-right: 8px; /* Distância entre o ícone e o texto */
              font-size: 2rem; /* Tamanho do ícone */
              @media (max-width:768px){
                font-size: 20px;
            }
            }
          
            &:hover {
              background-color: #1ebe5b; /* Cor do fundo no hover (verde mais escuro) */
              transform: scale(1.05); /* Leve aumento ao passar o mouse */
            }
          
            &:active {
              transform: scale(0.98); /* Leve redução quando clicar */
            }

            
        }

            &__item{
                margin: 0 10px;

                a{
                    text-decoration: none;
                }
            }

            @media (max-width:768px){
                margin-right: -80px;
                
            }
        }

    }
}